name: Update Stats

permissions:
  contents: write

on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'

jobs:
  update_stats:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Fetch stats
      run: |
        bash ./fetch_stats.sh

    - name: Commit stats_dark.svg
      run: |
        git config --global user.name "vyfor"
        git config --global user.email "92883017+vyfor@users.noreply.github.com"
        git add assets/stats_dark.svg --force
        git commit -m "Update stats card (dark)" || echo 'No changes to commit'
        
    - name: Commit stats_light.svg
      run: |
        git add assets/stats_light.svg --force
        git commit -m "Update stats card (light)" || echo 'No changes to commit'
        
    - name: Commit languages_dark.svg
      run: |
        git add assets/languages_dark.svg --force
        git commit -m "Update languages card (dark)" || echo 'No changes to commit'
        
    - name: Commit languages_light.svg
      run: |
        git add assets/languages_light.svg --force
        git commit -m "Update languages card (light)" || echo 'No changes to commit'

    - name: Push changes
      run: |
        git push
